body{
  font-family: Arial;
  background:#111;
  color:white;
  display:flex;
  justify-content:center;
  padding:30px;
}

.container{
  width:350px;
  background:#1e1e1e;
  padding:20px;
  border-radius:10px;
}

h1{
  text-align:center;
}

input{
  width:100%;
  padding:10px;
  margin-top:10px;
  border:none;
  border-radius:5px;
}

.slots{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:10px;
  margin-top:10px;
}

.slot{
  padding:10px;
  border:none;
  background:green;
  color:white;
  border-radius:5px;
  cursor:pointer;
}

.slot.selected{
  background:orange;
}

.qr{
  width:100%;
  margin-top:10px;
  border-radius:10px;
}

#bookBtn{
  width:100%;
  margin-top:20px;
  padding:12px;
  background:#ff6600;
  color:white;
  border:none;
  border-radius:5px;
  cursor:pointer;
}

#message{
  text-align:center;
  margin-top:15px;
  color:lightgreen;
}
#loadBtn{
  width:100%;
  padding:12px;
  border:none;
  border-radius:8px;
  margin-top:10px;
  background:#0ea5e9;
  color:white;
  font-weight:bold;
  cursor:pointer;
}

.deleteBtn{
  width:100%;
  padding:10px;
  border:none;
  border-radius:8px;
  background:red;
  color:white;
  cursor:pointer;
  margin-top:10px;
}
.slot.booked{
  background:red;
}
.filterBox{
  background:#1e293b;
  padding:15px;
  border-radius:10px;
  margin-top:15px;
}

.filterBox label{
  display:block;
  margin-top:10px;
  margin-bottom:5px;
  font-size:14px;
}

.filterBox input{
  width:100%;
  box-sizing:border-box;
}

.stats{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:10px;
  margin-top:15px;
}

.statCard{
  background:#1e293b;
  padding:15px;
  border-radius:10px;
  text-align:center;
}

.statCard h2{
  margin:0;
  color:#22c55e;
}

.bookingCard{
  background:#1e293b;
  padding:15px;
  border-radius:10px;
  margin-top:15px;
}

.bookingCard h3{
  margin-top:0;
}

.deleteBtn{
  width:100%;
  padding:10px;
  border:none;
  border-radius:8px;
  background:red;
  color:white;
  cursor:pointer;
  margin-top:10px;
}
select{
  width:100%;
  padding:12px;
  margin-top:10px;
  border:none;
  border-radius:8px;
  font-size:16px;
}

.summaryBox{
  background:#1e293b;
  padding:15px;
  border-radius:10px;
  margin-top:15px;
  text-align:center;
}

#timeSummary{
  color:#38bdf8;
}

#totalAmount{
  color:#22c55e;
  margin-top:10px;
}
